body {
	background: url(../images/animat_camera_color.gif);
	background-repeat: no-repeat;
	background-position: 50% 0;	
}

.title {
	position: absolute;
	top: 50px;
	left: 100px;
	color: #EC6506;
	
	font-weight: bold;
	font-style: oblique;
	font-size: 30px;
	
	text-decoration: underline;
}

.list {
	position: absolute;
	top: 100px;
	left: 75px;
	color: #030445;

	font-weight: bold;
}

.list .member {
	font-style: italic;
}
